<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caduk.mapper.CafeMapper">
	<insert id="createCafe" parameterType="CafeVO">
		insert into cafe(cafeid, idx, cafename, cafename2, inform, notice, sns_url, call, postcode, loc1, loc2, status)
		values(cafeid_seq.nextval, #{idx}, #{cafename}, #{cafename2:VARCHAR},#{inform:VARCHAR}, #{notice:VARCHAR},
		 #{sns_url:VARCHAR}, #{call:VARCHAR},#{postcode:VARCHAR}, #{loc1:VARCHAR}, #{loc2:VARCHAR}, 'O')  
	</insert>
	<update id="updateOwner" parameterType="int">
		update member set roll='OWNER' where idx=#{val}
	</update>
	<select id="viewCafe" parameterType="int" resultType="CafeVO">
		select * from cafe where idx=#{val}
	</select>
	
	<update id="updateCafe" parameterType="CafeVO" >
		update cafe set cafename=#{cafename}, cafename2=#{cafename2:VARCHAR}, inform=#{inform:VARCHAR}, notice=#{notice:VARCHAR},
			sns_url=#{sns_url:VARCHAR}, call=#{call:VARCHAR}, postcode=#{postcode:VARCHAR}, loc1=#{loc1:VARCHAR}, loc2=#{loc2:VARCHAR}
			where cafeid=#{cafeid}
	</update>
	
	<!-- 태그  -->
	<insert id="addTag" parameterType="CafeVO">
		insert into cafe_tag(cafeid, tag_type, tag_name) values(#{cafeid}, #{tag_type}, #{tag_name})
	</insert>
	<delete id="removeTag" parameterType="CafeVO">
		delete from cafe_tag where cafeid=#{cafeid} and tag_type=#{tag_type} and tag_name=#{tag_name}
	</delete>
	<!-- 이미지-->
	<insert id="addImg" parameterType="CafeVO">
		insert into cafe_img values(#{cafeid}, #{img_type}, #{img_name})
	</insert>
	<delete id="removeImg">
		delete from cafe_img where cafeid=#{cafeid} and img_type=#{img_type} and img_name=#{img_name}
	</delete>
	<select id="logoImg" parameterType="int" resultType="String">
		select img_name from cafe_img where cafeid=#{cafeid} and img_type='LOGO'
	</select>
	<select id="menuImg" parameterType="String" resultType="List">
		select img_name from cafe_img where cafeid=#{cafeid} and img_type='MENU'
	</select>
	<select id="cafeImg" parameterType="String" resultType="List">
		select img_name from cafe_img where cafeid=#{cafeid} and img_type='CAFE'
	</select>
</mapper>