<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caduk.mapper.MemberMapper">
	<insert id="newMember" parameterType="MemberVO">
		INSERT INTO MEMBER(IDX, EMAIL, PWD, NAME, PHONE, STATUS, ROLL) 
		VALUES (IDX_SEQ.NEXTVAL, #{email}, #{pwd}, #{name:VARCHAR}, #{phone:VARCHAR}, 'O', 'GENERAL') 
	</insert>
	
	<select id="getMember" parameterType="String" resultType="MemberVO">
		SELECT * FROM MEMBER WHERE EMAIL=#{VAL}
	</select>
	
	<insert id="addFav" parameterType="MemberVO">
		insert into fav_cafe values(#{idx}, #{cafeid}, '')
	</insert>
	
	<delete id="cancelFav" parameterType="MemberVO">
		delete from fav_cafe where idx=#{idx} and cafeid=#{cafeid}
	</delete>
	<select id="getFavCnt" parameterType="int" resultType="int">
		select count(*) from fav_cafe where cafeid=#{cafeid}
	</select>
	<select id="myFav" parameterType="MemberVO" resultType="boolean">
		select count(*) from fav_cafe where cafeid=#{cafeid} and idx=#{idx}
	</select>
	
	<select id="getMyFavList" parameterType="int" resultType="CafeVO">
		select * from cafe_search_list where cafeid in (select cafeid from fav_cafe where idx=#{val})
	</select>
</mapper>